.car {
    padding: 0.25rem;
}

.header{
    font-size: 2rem;
}

.description{
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
}

.price{
    font-size: 1.5rem;
    color:var(--dark-red-color);
}

.oldPrice{
    font-size: 1rem;
    margin-left: 0.25rem;
    text-decoration: line-through;
    color:var(--grey-color);
}

.priceContainer{
    display: flex;
    padding: 1rem 0.5rem 1rem 0.5rem;
}