.car {
    background-color: var(--super-light-grey-color);
    margin: 0.25rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--grey-color);
    cursor: pointer;
    transition: .2s;
}

.car:hover{
    box-shadow: 0px 0px 15px var(--grey-color);
    transition: .2s;
}

.car:active{
    box-shadow: 0px 0px 20px var(--dark-grey-color);
    transition: .2s;
}

.header{
    font-size: 2rem;
}

.cardBotton{
    margin: 0.5rem;
}

.description{
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
}

.price{
    font-size: 1.5rem;
    color:var(--dark-red-color);
}

.oldPrice{
    font-size: 1rem;
    margin-left: 0.25rem;
    text-decoration: line-through;
    color:var(--grey-color);
}

.priceContainer{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}