:root{
    --super-light-grey-color: #e0e0e0;

    --light-grey-color: #c2c2c2;
    --tansparent-light-grey-color: #c2c2c27c;
    --grey-color: #454545;
    --dark-grey-color: #1a1a1a;
    --blue-color: #6967db;
    --dark-red-color: #a80707;
    --orange-color:#d69a00;
    --light-orange-color:#d9db67;
    --green-color: #18ad27;
}