.middleHeader{
    background-color: var(--grey-color);
    display: flex;
    font-size: 3rem;
    min-height: 5rem;
}

.searchComponent{
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
}

.link {
    color:var(--light-grey-color);
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.link:hover{
    color:var(--blue-color)
}

.container{
    display: flex;
    justify-content: start;
    width: 100%;
    align-items: center;
}

.logoText{
    color:var(--light-grey-color);
    display: flex;
    justify-content: start;
    width: 100%;
    align-items: center;
    font-size: 2rem;
    margin-left: 2rem;
}