.bottomHeader{
    height: 2.5rem;
    border-bottom: 2px var(--blue-color) solid;
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.ul{
    height: auto;
    list-style: none;
    display: flex;
}

.li{
    height: auto;
}

.button {
    color: var(--light-grey-color);
    background: none;
    border: none;
    text-shadow: 0px 0px 10px var(--dark-grey-color);
    font-size: 1.2rem;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    position: relative; 
    transition: .3s;
}

.button::after {
    content: '';
    display: block;
    width: 0;
    height: 2px; 
    background: var(--blue-color);
    position: absolute;
    bottom: 0; 
    left: 0;
    transition: width 0.3s; 
}

.button:hover::after {
    width: 100%; 
}

.button:hover {
    transition: .3s;
}

.rightNavBar{
    margin: 0.5rem 0 0.5rem 0;
    float: right;
}

.leftNavBar{
    margin: 0.5rem 0 0.5rem 0;
    float: left;
}